body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; /* Background color for the entire page */
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #007bff; /* Heading color */
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff; /* Form background color */
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Form box shadow */
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da; /* Input border color */
    border-radius: 5px;
    outline: none;
}
.input-group input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
}
.button-group {
    text-align: center;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3; /* Button hover background color */
}

.response-box {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; /* Response box background color */
    border: 1px solid #ced4da; /* Response box border color */
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Response box shadow */
}
